
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>States Read</title>
    <link rel="stylesheet" href="styles.css">
    <script src="statesread.js"></script>
  </head>
  <body onload="onMapLoad()">
    <div id="header">
      <h1>States Read</h1>
    </div>
    <div id="nav-links">
      <ul>
        <li><a href="index">🏠 Home</a></li>
        <li><a href="glossary">📖 Glossary</a></li>
        <li><a href="glossary">💬 FAQ</a></li>
        <li><a href="contact">💌 Contact</a></li>
      </ul>
    </div>
      {{ content }}
    </div>
  </body>
</html>
